<p-toast></p-toast>
<div class="main-container">
    <p-card header="Cursos Empresariales" subheader="Subtítulo">
      <!-- Filtros -->
      <p-floatlabel variant="on">
        <p-autocomplete
          [(ngModel)]="cursosSeleccionados"
          [virtualScroll]="true"
          [suggestions]="filteredItemsCursos"
          [virtualScrollItemSize]="34"
          (completeMethod)="filterItemsCursos($event)"
          filter="true"
          optionLabel="label"
          placeholder="Nombre del Curso"
          [dropdown]="true"
        />
      </p-floatlabel>
  
      <div class="label-container">
        <p-floatlabel variant="on">
          <p-datepicker [(ngModel)]="fechaInicio" inputId="FechaInicio" showIcon iconDisplay="input"
          />
          <label for="FechaInicio">Fecha de Inicio</label>
        </p-floatlabel>
      </div>
  
      <div class="label-container">
        <p-floatlabel variant="on">
          <p-datepicker [(ngModel)]="fechaTermino" inputId="FechaTermino" showIcon iconDisplay="input" />
          <label for="FechaTermino">Fecha de Termino</label>
        </p-floatlabel>
      </div>
  
      <div class="contenedor-botones">
        <button pButton pRipple severity="secondary" icon="pi pi-plus" (click)="redirigir()">
        <span pButtonLabel >Nuevo Curso</span>
        </button>
        <button pButton pRipple severity="success" (click)="aplicarFiltros()" style="margin-left: 10px;">
          🔍 <span pButtonLabel>Aplicar Filtros</span>
        </button>
      </div>
  
      <!-- Tabla de cursos -->
      <p-table [value]="cursos" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre curso</th>
            <th>Empleado</th>
            <th>Clave de Empleado</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Tipo de documento</th>
          </tr>
        </ng-template>
        <ng-template  pTemplate="body" let-curso>
          <tr>
            <td>{{ curso.Nombre }}</td>
            <td>{{ curso.EmpleadoNombre }} {{ curso.EmpleadoApP }} {{ curso.EmpleadoApM }}</td>
            <td>{{ curso.ClaveEmpleado }}</td>
            <td>{{ curso.FechaInicio | date: 'dd/MM/yyyy' }}</td>
            <td>{{ curso.FechaFin | date: 'dd/MM/yyyy'}}</td>
            <td>{{ curso.TipoCurso }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>