
.main-container {
    margin-left: 270px;
    padding: 20px; 
    transition: margin-left 0.3s ease; 
    margin-right: 60px;
   
  }
  .contenedor-botones {
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
    margin-bottom: 10px; 
}

  .label-container {
    margin-top: 2em;
    display: inline-block;
    width: 45%; 
    margin-right: 10px;
    margin-bottom: 70px; 
}

