<div class="menu-wrapper" *ngIf="isVisible">
    <!-- Botón para colapsar o expandir el menú -->
    <button (click)="toggleMenu()" 
        class="menu-toggle-btn" [class.expanded]="!colapsado">
      <i class="pi" [ngClass]="colapsado ? 'pi-bars' : 'pi-times'"></i>
    </button>

    <!-- Contenedor del menú -->
    <div [ngClass]="{ 'expanded': !colapsado, 'collapsed': colapsado }" 
         class="menu-container">
      <div class="menu-header" *ngIf="!colapsado">
        <div class="user-info">
            <p-avatar icon="pi pi-user" styleClass="mr-2" [style]="{'background-color': '#2196F3', 'color': '#ffffff'}"></p-avatar>
            <div class="user-details">
              <span class="user-role"><b>Rol:</b> {{userRole | titlecase}}</span>
            </div>
        </div>
      </div>
    
      <p-menu [model]="visibleItems" styleClass="w-full custom-menu border-none">
        <ng-template pTemplate="item" let-item>
          <a pRipple class="menu-item p-3">
            <div class="menu-item">        
                <span [class]="item.icon"></span>
                <span class="menu-label" *ngIf="!colapsado">{{ item.label }}</span>
            </div>
          </a>
        </ng-template>
      </p-menu>

        <!-- Botón de Cerrar Sesión, siempre al final -->
        <div class="logout-container">
          <a pRipple class="menu-item p-3 logout-item" (click)="logout()">
            <span [class]="logoutItem.icon"></span>
            <span class="menu-label" *ngIf="!colapsado">{{ logoutItem.label }}</span>
          </a>
        </div>
    </div>
</div>