.p-floatlabel{
    margin-bottom: 1.4em;
}
.p-autocomplete{
    margin-bottom: 1.4em;
}
.label-container {
    display: inline-block;
    width: 45%; /* Ajusta el ancho de los labels */
    margin-right: 10px; /* Espacio entre los campos */
}

  .main-container {
    margin-left: 270px;
    padding: 20px; 
    transition: margin-left 0.3s ease; /* Suaviza el desplazamiento si el menú es dinámico */
    margin-right: 60px;
   
  }

input,label, p-autocomplete, p-datepicker {
    width: 80%; 
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
    margin-left: 35px;
}

.contenedor-botones {
  display: flex;            
  gap: 10px;               
  justify-content: flex-end;
}

.boton {
  margin: 0;               
}
.botonc {
  background-color: rgb(214, 43, 43); /* Rojo */
  border: 2px solid rgb(214, 43, 43); /* Contorno rojo */
  color: white; /* Color del texto */
  transition: all 0.3s ease; /* Transición suave al cambiar el estado */
}

.botonc:hover {
  background-color: rgb(255, 77, 77); /* Un rojo más claro al pasar el mouse */
  border-color: rgb(255, 77, 77); /* El contorno también cambia a un rojo más claro */
}