.p-floatlabel{
    margin-bottom: 1em;
}
.p-autocomplete{
    margin-bottom: 1.4em;
}
.label-container {
    display: inline-block;
    width: 43%; 
    margin-right: 10px; 
}

  .main-container {
    margin-left: 270px;
    padding: 20px; 
    transition: margin-left 0.3s ease;
    margin-right: 60px;
   
  }

input,label,p-password,p-inputmask , p-autocomplete, p-datepicker{
    width: 80%; 
    box-sizing: border-box; 
    margin-left: 5px;
}
.contenedor-botones {
  display: flex;            
  gap: 10px;               
  justify-content: flex-end;
  margin-top: 10px;
}

.boton {
  margin: 0;               
}
.botonc {
  background-color: rgb(214, 43, 43); 
  border: 2px solid rgb(214, 43, 43); 
  color: white; 
  transition: all 0.3s ease; 
 
}

.botonc:hover {
  background-color: rgb(255, 77, 77); 
  border-color: rgb(255, 77, 77); 
}

.pButton {
  margin-bottom: 16px;  
}


.correo-item {
  display: flex;
  align-items: center;
  gap: 8px; 
}

.telefono-item {
  display: flex;
  align-items: center;
  gap: 8px; /* Espacio entre el input y el botón */
}

.telefono-container {
  display: flex;
  align-items: center;
  width: 27em;
}
.correo-container {
  display: flex;
  align-items: center;
  width: 27em;
}

.eliminar-btn {
  margin-left: 8px; /* Espacio entre el input y el botón */
}

.preview-img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 10px;
  margin-top: 10px;
}
.error-text {
  color: red;
  font-size: 0.875rem;
  display: block;  
   margin-left: 15px;
}
:host ::ng-deep .small-input {
  width: 155px !important;  
  max-width: 100% !important;
}

.phone-input-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}

:host ::ng-deep .small-input .p-inputtext {
  padding: 0.25rem 0.5rem !important;
  font-size: 0.85rem !important;
}

:host ::ng-deep .telefono-container .p-inputmask {
  width: 260px !important;  
  min-width: 200px !important;
}
:host ::ng-deep .telefono-container .p-inputtext {
  font-size: 1rem !important;
  padding: 0.5rem 0.75rem !important;
}
:host ::ng-deep .p-password {
  width: 260px !important; 
  min-width: 250px !important;
}

:host ::ng-deep .p-password .p-inputtext {
  width: 100% !important;
  font-size: 1rem !important;
  padding: 0.5rem 0.75rem !important;
}