
<div class="main-container">
<p-card header="Registrar Nuevo Empleado" subheader="Subtítulo" >
    <p-fieldset legend="Información Personal">   
    
     
    <p-floatlabel  variant="on">
      <input type="text" pInputText  id="nombre" autocomplete="off"/>
      <label for="nombre">Nombre</label>
  </p-floatlabel> 

  <div class="label-container">
    <p-floatlabel variant="on">
      <input type="text" pInputText id="ApP" autocomplete="off"  />
      <label for="ApP">Apellido Paterno</label>
  </p-floatlabel>
</div>


<div class="label-container">
    <p-floatlabel variant="on">
      <input type="text" pInputText id="apM" autocomplete="off" />
      <label for="apM">Apellido Materno</label>
  </p-floatlabel>
</div>
<div class="label-container">
   <p-floatlabel variant="on">
    <p-datepicker inputId="FechaNacimiento" showIcon iconDisplay="input" />
    <label for="FechaNacimiento">Fecha Nacimiento</label>
</p-floatlabel>
</div>
  
<div class="label-container">
    <p-floatlabel variant="on">
      <input pInputText id="RFC" autocomplete="off" pKeyFilter="alphanum" />
      <label for="RFC">RFC</label>
</p-floatlabel>
</div>
<div class="label-container">
  <p-floatlabel>  
<p-autocomplete [(ngModel)]="puestoSeleccionado" [virtualScroll]="true" [suggestions]="filteredItems" [virtualScrollItemSize]="34" (completeMethod)="filterItems($event)" filter="true" optionLabel="label" placeholder="Puesto" [dropdown]="true" />
</p-floatlabel>
</div>
<div class="label-container">
<p-floatlabel >  
<p-autocomplete [(ngModel)]="departamentoSeleccionado" [virtualScroll]="true" [suggestions]="filteredItems" [virtualScrollItemSize]="34" (completeMethod)="filterItems($event)" optionLabel="label" placeholder="Departamento" [dropdown]="true" />
</p-floatlabel>
</div>
<div class="label-container">
<p-floatlabel variant="on">
  <input pInputText id="on_label" autocomplete="off" pKeyFilter="num" />
  <label for="on_label">Teléfono</label>
</p-floatlabel>
</div>

<div class="label-container">
<p-floatlabel variant="on">
  <input type="email" pInputText id="on_label" autocomplete="off" />
  <label for="on_label">Correo Electrónico</label>
</p-floatlabel>
</div>


<p-floatlabel variant="on">
  <p-datepicker inputId="on_label" showIcon iconDisplay="input" />
  <label for="on_label">Fecha Inicio</label>
</p-floatlabel>



    </p-fieldset>




    <p-fieldset legend="Domicilio">   
      
      <div class="label-container">
    <p-floatlabel>  
  <p-autocomplete [(ngModel)]="ciudadSeleccionada" [virtualScroll]="true" [suggestions]="filteredItems" [virtualScrollItemSize]="34" (completeMethod)="filterItems($event)" optionLabel="label" placeholder="Ciudad" [dropdown]="true" />
  </p-floatlabel>
  </div>
  
  <div class="label-container">
  <p-floatlabel>  
    <p-autocomplete [(ngModel)]="CPSeleccionado" [virtualScroll]="true" [suggestions]="filteredItems" [virtualScrollItemSize]="34" (completeMethod)="filterItems($event)" optionLabel="label" placeholder="Código Postal" [dropdown]="true" />
    </p-floatlabel>
  </div>
       
  <div class="label-container">
  <p-floatlabel variant="on">
      <input pInputText id="on_label" autocomplete="off" pKeyFilter="alpha" />
      <label for="on_label">Calle</label>
  </p-floatlabel>
</div>
<div class="label-container">
  <p-floatlabel variant="on">
    <input pInputText id="on_label" autocomplete="off" pKeyFilter="alpha" />
    <label for="on_label">Colonia</label>
</p-floatlabel>
</div>

<div class="label-container">
<p-floatlabel variant="on">
  <input pInputText id="on_label" autocomplete="off" pKeyFilter="num" />
<label for="on_label">No.Ext</label>
</p-floatlabel>
</div>
<div class="label-container">
<p-floatlabel variant="on">
  <input pInputText id="on_label" autocomplete="off" pKeyFilter="num" />
<label for="on_label">No.Int</label>
</p-floatlabel>
</div>
</p-fieldset>

<h3> <p-divider align="left" type="solid">
  <b>Información Personal</b>
  </p-divider></h3>

  <div class="contenedor-botones">
<button pButton pRipple severity="info">
  ➕
    <span pButtonLabel>Agregar</span></button></div>

<p-table [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template #header>
      <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
      </tr>
  </ng-template>
  <ng-template #body let-product>
      <tr>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
      </tr>
  </ng-template>
</p-table>

<div class="contenedor-botones">
  <button class="boton" pButton pRipple aria-label="Buscar" severity="info" (click)="redirigir()">
    <span pButtonLabel>Guardar</span>
  </button>
</div>

<!--

        </p-fieldset>
        
          <h3> <p-divider align="left" type="solid">
            <b>Información Personal</b>
            </p-divider></h3>
            <p-floatlabel variant="on">
              <input pInputText id="on_label" autocomplete="off" pKeyFilter="alpha" />
              <label for="on_label">Nombre</label>
          </p-floatlabel>
        
         
            <p-floatlabel variant="on">
              <input pInputText id="on_label" autocomplete="off" pKeyFilter="alpha" />
              <label for="on_label">Apellido Paterno</label>
          </p-floatlabel>
        
        
            <p-floatlabel variant="on">
              <input pInputText id="on_label" autocomplete="off" pKeyFilter="alpha" />
              <label for="on_label">Apellido Materno</label>
          </p-floatlabel>
        
           <p-floatlabel variant="on">
            <p-datepicker inputId="on_label" showIcon iconDisplay="input" />
            <label for="on_label">Fecha Nacimiento</label>
        </p-floatlabel>
          
        
            <p-floatlabel variant="on">
              <input pInputText id="on_label" autocomplete="off" pKeyFilter="alphanum" />
              <label for="on_label">RFC</label>
        
        </p-floatlabel>
          <p-floatlabel>  
        <p-autocomplete [(ngModel)]="puestoSeleccionado" [virtualScroll]="true" [suggestions]="filteredItems" [virtualScrollItemSize]="34" (completeMethod)="filterItems($event)" optionLabel="label" placeholder="Puesto" [dropdown]="true" />
        </p-floatlabel>
        
        <p-floatlabel >  
        <p-autocomplete [(ngModel)]="departamentoSeleccionado" [virtualScroll]="true" [suggestions]="filteredItems" [virtualScrollItemSize]="34" (completeMethod)="filterItems($event)" optionLabel="label" placeholder="Departamento" [dropdown]="true" />
        </p-floatlabel>
        
        <p-floatlabel variant="on">
          <input pInputText id="on_label" autocomplete="off" pKeyFilter="alpha" />
          <label for="on_label">Teléfono</label>
        </p-floatlabel>
        
        <p-floatlabel variant="on">
          <input pInputText id="on_label" autocomplete="off" pKeyFilter="alpha" />
          <label for="on_label">Correo Electrónico</label>
        </p-floatlabel>
        
        <p-floatlabel variant="on">
          <p-datepicker inputId="on_label" showIcon iconDisplay="input" />
          <label for="on_label">Fecha Inicio</label>
        </p-floatlabel>
        
        
        <p-autocomplete [(ngModel)]="departamentoSeleccionado" [virtualScroll]="true" [suggestions]="filteredItems" [virtualScrollItemSize]="34" (completeMethod)="filterItems($event)" optionLabel="label" placeholder="Departamento" [dropdown]="true" />
        

            
        <h3> <p-divider align="left" type="dotted" >
                <b>Domicilio</b>
            </p-divider></h3>
        
    <p-floatlabel>  
      <p-autocomplete [(ngModel)]="selectedItem" [virtualScroll]="true" [suggestions]="filteredItems" [virtualScrollItemSize]="34" (completeMethod)="filterItems($event)" optionLabel="label" placeholder="Ciudad" [dropdown]="true" />
      </p-floatlabel>
      <p-floatlabel>  
        <p-autocomplete [(ngModel)]="selectedItem" [virtualScroll]="true" [suggestions]="filteredItems" [virtualScrollItemSize]="34" (completeMethod)="filterItems($event)" optionLabel="label" placeholder="Código Postal" [dropdown]="true" />
        </p-floatlabel>
           
        <p-floatlabel variant="on">
          <input pInputText id="on_label" autocomplete="off" pKeyFilter="alpha" />
          <label for="on_label">Calle</label>
      </p-floatlabel>
    
      <p-floatlabel variant="on">
        <input pInputText id="on_label" autocomplete="off" pKeyFilter="alpha" />
        <label for="on_label">Colonia</label>
    </p-floatlabel>
    
            
    <p-floatlabel variant="on">
      <input pInputText id="on_label" autocomplete="off" pKeyFilter="alpha" />
    <label for="on_label">No.Ext</label>
    </p-floatlabel>
            
    <p-floatlabel variant="on">
      <input pInputText id="on_label" autocomplete="off" pKeyFilter="alpha" />
    <label for="on_label">No.Int</label>
    </p-floatlabel>
</p-card>







  <p>Nombre</p>
  <input pInputText pKeyFilter="int" />
  <input pInputText pKeyFilter="num" />
  <p>Apellido Paterno</p>
  
  <p-floatlabel variant="on">
    <input pInputText id="on_label" autocomplete="off" pKeyFilter="alpha" />
    <label for="on_label">Apellido Paterno</label>
</p-floatlabel>
  <p>Apellido Materno</p>
 <input pInputText pKeyFilter="money" />
 <p>Fecha Nacimiento</p>

 <p-floatlabel variant="on">
  <p-datepicker inputId="on_label" showIcon iconDisplay="input" />
  <label for="on_label">Fecha Nacimiento</label>
</p-floatlabel>

  <p>RFC</p>
  <input pInputText pKeyFilter="alphanum" />
  <p>Puesto</p>
  <input pInputText pKeyFilter="alpha" />
</div>-->