<p-table [value]="empleados" selectionMode="multiple" [(selection)]="empleados">
  <ng-template pTemplate="header">
    <tr>
      <th>Clave Empleado</th>
      <th>Nombre Empleado</th>
      <th>Seleccionar</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-emp>
    <tr>
      <td>{{ emp.ClaveEmpleado }}</td>
      <td>{{ emp.Nombre }}</td>
      <td>
        <p-checkbox [(ngModel)]="emp.selected" [binary]="true"></p-checkbox>
      </td>
    </tr>
  </ng-template>
</p-table>

<div class="contenedor-botones">
  <button class="botonc" pButton pRipple aria-label="Cancelar" severity="info" (click)="redirigir()">
    <span pButtonLabel>Cancelar</span>
  </button>
  
  <p-button label="Guardar" (click)="guardar()"></p-button>
</div>
  