<div class="main-container" [ngClass]="{'edit-mode': isEditMode}">
  <p-toast></p-toast>
  <p-card>
    <ng-template pTemplate="header">
      <div class="header-title">Mi Perfil</div>
    </ng-template>

    <div class="contenedor-botones">
      <button pButton [label]="isEditMode ? 'Cancelar' : 'Editar'" [icon]="isEditMode ? 'pi pi-times' : 'pi pi-pencil'"
        [class]="isEditMode ? 'p-button-outlined p-button-danger' : 'p-button-outlined'"
        (click)="toggleEditMode()"></button>
      <button pButton label="Guardar" icon="pi pi-save" *ngIf="isEditMode" class="p-button-success"
        (click)="saveChanges()"></button>
    </div>

    <!-- Cambiar contraseña -->
    <p-fieldset legend="Cambiar contraseña" *ngIf="isEditMode" styleClass="password-fieldset">
      <div class="p-grid">
        <div class="label-container">
          <p-floatLabel>
            <p-password [(ngModel)]="currentPassword" [toggleMask]="true" [feedback]="false" />
            <label>Contraseña actual</label>
          </p-floatLabel>
        </div>
        <div class="label-container">
          <p-floatLabel>
            <p-password [(ngModel)]="newPassword" [toggleMask]="true" [feedback]="true" />
            <label>Nueva contraseña</label>
          </p-floatLabel>
        </div>
      </div>
    </p-fieldset>

    <!-- Domicilio -->
    <p-fieldset legend="Domicilio" [toggleable]="true" styleClass="address-fieldset">
      <div class="p-grid">
        <div class="label-container" *ngFor="let field of domicilioCampos">
          <p-floatLabel>
            <input pInputText *ngIf="empleado.Domicilio" [(ngModel)]="empleado.Domicilio[field]"
              [readonly]="!isEditMode" />
            <label>{{ getLabel(field) }}</label>
          </p-floatLabel>
        </div>
      </div>
    </p-fieldset>

    <!-- Contacto -->
    <p-fieldset legend="Contacto" [toggleable]="true" styleClass="contact-fieldset">
      <!-- Correos electrónicos -->
      <div class="contact-group">
        <div class="contact-header">
          <span>Correos electrónicos</span>
          <button pButton icon="pi pi-plus" class="p-button-rounded p-button-text p-button-sm" (click)="addNewEmail()"
            *ngIf="isEditMode"></button>
        </div>

        <div *ngFor="let correo of empleado.CorreoElectronico; let i = index" class="contact-field">
          <p-inputGroup>
            <span class="p-inputgroup-addon">
              <i class="pi pi-envelope"></i>
            </span>
            <input pInputText type="email" [(ngModel)]="empleado.CorreoElectronico[i]" [readonly]="!isEditMode"
              placeholder="Correo Electrónico" />
            <button pButton icon="pi pi-trash" class="p-button-danger" (click)="removeEmail(i)"
              *ngIf="isEditMode"></button>
          </p-inputGroup>
        </div>
      </div>

      <!-- Teléfonos -->
      <div class="contact-group">
        <div class="contact-header">
          <span>Teléfonos</span>
          <button pButton icon="pi pi-plus" class="p-button-rounded p-button-text p-button-sm" (click)="addNewPhone()"
            *ngIf="isEditMode"></button>
        </div>

        <div *ngFor="let telefono of empleado.Telefono; let i = index" class="contact-field">
          <p-inputGroup>
            <span class="p-inputgroup-addon">
              <i class="pi pi-phone"></i>
            </span>
            <input pInputText type="text" [(ngModel)]="empleado.Telefono[i]" [readonly]="!isEditMode"
              placeholder="Teléfono" />
            <button pButton icon="pi pi-trash" class="p-button-danger" (click)="removePhone(i)"
              *ngIf="isEditMode"></button>
          </p-inputGroup>
        </div>
      </div>
    </p-fieldset>

    <!-- Referencias Familiares -->
    <app-referencias-familiares [referencias]="empleado.ReferenciaFamiliar"
      (referenciasActualizadas)="empleado.ReferenciaFamiliar = $event"></app-referencias-familiares>
  </p-card>
</div>