<div class="main-container">
  <p-card header="Mi perfil" subheader="Información personal">
    <!-- Bloque para cambiar contraseña -->
    <p-fieldset legend="Cambiar contraseña">
      <div class="label-container">
        <p-floatlabel variant="on">
          <p-password [toggleMask]="true" placeholder="Contraseña actual" />
          <label for="Contraseña"></label>
        </p-floatlabel>
      </div>
      <div class="label-container">
        <p-floatlabel variant="on">
          <p-password [toggleMask]="true" placeholder="Nueva contraseña" />
          <label for="Nueva Contraseña"></label>
        </p-floatlabel>
      </div>
      <button pButton type="button" label="Cambiar contraseña" class="p-button-success"></button>
    </p-fieldset>

    <!-- Bloque de domicilio -->
    <p-fieldset legend="Domicilio" *ngIf="empleado?.Domicilio">
      <div class="label-container">
        <p-floatlabel>
          <input pInputText [value]="empleado.Domicilio.Calle || 'No disponible'" readonly />
          <label>Calle</label>
        </p-floatlabel>
      </div>
      <div class="label-container">
        <p-floatlabel>
          <input pInputText [value]="empleado.Domicilio.NumeroExterior || 'No disponible'" readonly />
          <label>Número Exterior</label>
        </p-floatlabel>
      </div>
      <div class="label-container">
        <p-floatlabel>
          <input pInputText [value]="empleado.Domicilio.Colonia || 'No disponible'" readonly />
          <label>Colonia</label>
        </p-floatlabel>
      </div>
      <div class="label-container">
        <p-floatlabel>
          <input pInputText [value]="empleado.Domicilio.CodigoPostal || 'No disponible'" readonly />
          <label>Código Postal</label>
        </p-floatlabel>
      </div>
      <div class="label-container">
        <p-floatlabel>
          <input pInputText [value]="empleado.Domicilio.Ciudad || 'No disponible'" readonly />
          <label>Ciudad</label>
        </p-floatlabel>
      </div>
    </p-fieldset>

    <!-- Bloque de contacto -->
    <p-fieldset legend="Contacto" *ngIf="empleado">
      <div class="label-container">
        <p-floatlabel>
          <input pInputText [value]="empleado.Telefono.join(', ') || 'No disponible'" readonly />
          <label>Teléfonos</label>
        </p-floatlabel>
      </div>
      <div class="label-container">
        <p-floatlabel>
          <input pInputText [value]="empleado.CorreoElectronico.join(', ') || 'No disponible'" readonly />
          <label>Correos Electrónicos</label>
        </p-floatlabel>
      </div>
    </p-fieldset>

    <!-- Bloque de referencia familiar -->
    <p-fieldset legend="Referencia Familiar" *ngIf="empleado?.ReferenciaFamiliar">
      <div *ngFor="let referencia of empleado.ReferenciaFamiliar">
        <p-fieldset [legend]="referencia.NombreFamiliar">
          <div class="label-container">
            <p-floatlabel>
              <input pInputText [value]="referencia.Parentesco || 'No disponible'" readonly />
              <label>Parentesco</label>
            </p-floatlabel>
          </div>
          <div class="label-container">
            <p-floatlabel>
              <input pInputText [value]="referencia.Telefono.join(', ') || 'No disponible'" readonly />
              <label>Teléfonos</label>
            </p-floatlabel>
          </div>
          <div class="label-container">
            <p-floatlabel>
              <input pInputText [value]="referencia.CorreoElectronico || 'No disponible'" readonly />
              <label>Correo Electrónico</label>
            </p-floatlabel>
          </div>
        </p-fieldset>
      </div>
    </p-fieldset>
  </p-card>
</div>