
.main-container {
    margin-left: 270px;
    margin-right: 60px;
    padding: 20px;
    transition: margin-left 0.3s ease;
   
  }
  .contenedor-botones {
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
}

  .label-container {
    margin-top: 2em;
    display: inline-block;
    width: 45%; 
    margin-right: 10px;
    margin-bottom: 70px; 
}

.contact-section {
  margin-bottom: 1rem;
}

.contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.contact-field {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  
  input {
    flex-grow: 1;
    margin-right: 0.5rem;
  }
}

.label-container {
  margin-bottom: 1rem;
}