.main-container {
  margin-left: 270px;
  margin-right: 60px;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.contenedor-botones {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}

.label-container {
  margin-top: 1rem;
  width: 100%;
}

.contact-section {
  margin-bottom: 1rem;
}

.contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.contact-field {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  input {
    flex-grow: 1;
    margin-right: 0.5rem;
  }
}

.p-grid {
  gap: 10px;
}

.p-inputgroup {
  width: 100%;
}

.p-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

  label {
    font-weight: bold;
  }
}
.p-inputtext {
  width: 100%;
}
