/* Diseño general de la página */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3eeee;
}
/* Contenedor principal */
.main-content {
    width: 70%;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    background-color: white;
    margin-left: 15%;
    margin-top: 45px;
    margin-bottom: 85px;
    border-color: black;
}
.login-card{
  background-color: #f9f6f6 !important;
  width: 100%;
}
.login-container {
    width: 100%;
    height: auto;
}

/* Lado izquierdo (logo y nombre de empresa) */
.company__info {
    background-color: #7a91b7;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 20px;
    width: 60%;
}

.company__logo i {
    font-size: 3em;
}

/* Formulario de login */
.login_form {
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 40px;
    width: 100%;
    height: 400px; 
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly; 

}

/* Estilo de los campos de entrada */
.p-float-label {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.form__input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.form__input:focus {
    border-color: #008080;
    box-shadow: 0 0 5px rgba(0, 80, 80, 0.4);
}

/* Estilo del botón de inicio de sesión */
.btn {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    color: #008080;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #008080;
    cursor: pointer;
}

.btn:hover {
    background-color: #6ee9e9;
    color: white;
}

/* Estilo del mensaje de error */
.error-message {
    margin-top: 10px;
    color: red;
}

/* Responsivo para pantallas pequeñas */
@media screen and (max-width: 640px) {
    .main-content {
        width: 90%;
        flex-direction: column;
    }
    .company__info {
        border-radius: 20px 20px 0 0;
    }
    
}

.p-inputtext {
    width: 90%;           
    padding: 12px;          
    border-radius: 5px;    
    border: 1px solid #ccc;
    font-size: 16px;    
    margin-bottom: 30px;
}
.login-button {
    width: 90%;            
    padding: 12px 0;         
    font-size: 18px;         
    border-radius: 5px;      
    text-transform: uppercase; 
}
.login-title {
    font-family: 'Arial', sans-serif; 
    font-size: 24px; 
    font-weight: bold; 
    margin-bottom: 20px; 
    text-align: center; 
    color: #008080; 
}

.company-logo-image {
    width: 100%; 
    max-width: 400px; 
    height: auto; 
}