
.main-container {
    margin-left: 270px;
    padding: 20px; 
    transition: margin-left 0.3s ease; /* Suaviza el desplazamiento si el menú es dinámico */
    margin-right: 60px;
   
  }
    .contenedor-botones {
    display: flex;
    justify-content: flex-end;

  }
/* Estilos para el componente p-message */
::ng-deep .custom-message .p-message-wrapper {
  padding: 0.5rem;
  font-weight: 700;
  width: 10px; 
}

::ng-deep .custom-message .p-message-text {
  font-size: 1em; 
}