<div class="main-container">
    <p-card header="Mis Actividades" subheader="Lista de actividades asignadas">
        <p-table [value]="products" [style]="{ 'min-width': '50rem' }">
            
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre de Actividad</th>
                    <th>Estatus</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ product.NombreActividad }}</td>
                    <td>{{ product.Estatus === 0 ? 'Pendiente' : 'Completada' }}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>
