
  .main-container {
    margin-left: 270px;
    padding: 20px; 
    transition: margin-left 0.3s ease; /* Suaviza el desplazamiento si el menú es dinámico */
    margin-right: 60px;
   
  }
    .contenedor-botones {
    display: flex;
    justify-content: flex-end;

  }

  :host ::ng-deep {
    .p-confirm-dialog {
      .p-dialog-header {
        background-color: #f8d7da; // Fondo rojo suave para la cabecera
        color: #721c24; // Texto oscuro
      }
      .p-button.p-button-danger {
        background-color: #dc3545; // Botón de aceptar en rojo
        border-color: #dc3545;
      }
      .p-button.p-button-secondary {
        background-color: #6c757d; // Botón de cancelar en gris
        border-color: #6c757d;
      }
    }
  }