
<div class="main-container">
    <p-card header="Gestión de Empleados" subheader="Subtítulo" >
              
        <p-table
        #dt1
        [value]="customers"
        dataKey="_id"
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        [paginator]="true"
        [globalFilterFields]="['ClaveEmpleado','Nombre','CorreoElectronico', 'RFC', 'Puesto', 'Departamento']"
    >
        <ng-template #caption>
            <div class="flex">
                <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)" />
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" (input)="filterGlobalValue($event)" placeholder="Search keyword" />
                </p-iconfield>
                <div class="contenedor-botones">
                    <button pButton pRipple severity="info" (click)="redirigir()">
                      ➕ <span pButtonLabel>Nuevo Empleado</span>
                    </button>
                </div>
            </div>
        </ng-template>
      
        <ng-template #header>
            <tr>  
                 <th style="min-width:15rem">
                <div class="flex items-center">
                   Clave del Empleado
                    <p-columnFilter type="text" field="ClaveEmpleado" display="menu" />
                </div>
            </th>

                <th style="min-width:15rem">
                    <div class="flex items-center">
                        Nombre
                        <p-columnFilter type="text" field="Nombre" display="menu" />
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex items-center">
                        Email
                        <p-columnFilter type="text" field="CorreoElectronico" display="menu" />
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex items-center">
                        Puesto
                        <p-columnFilter type="text" field="Puesto" display="menu" />
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex items-center">
                        Departamento
                        <p-columnFilter type="text" field="Departamento" display="menu" />
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex items-center">
                        RFC
                        <p-columnFilter type="text" field="RFC" display="menu" />
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex items-center">
                        Teléfono
                        <p-columnFilter type="text" field="Telefono" display="menu" />
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex items-center">
                        Domicilio
                        <p-columnFilter type="text" field="Domicilio" display="menu" />
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex items-center">
                        Referencia Familiar
                        <p-columnFilter type="text" field="ReferenciaFamiliar" display="menu" />
                    </div>
                </th>
                <th style="width: 3rem">
                    <div class="flex items-center">
                        Acciones
                    </div>
                </th>
            </tr>
        </ng-template>
      
        <ng-template #body let-customer>
            <tr>
                <td>{{ customer.ClaveEmpleado }}</td>
                <td>{{ customer.Nombre }}</td>
                <td>{{ customer.CorreoElectronico.join(', ') }}</td>
                <td>{{ customer.Puesto }}</td>
                <td>{{ customer.Departamento }}</td>
                <td>{{ customer.RFC }}</td>
                <td>{{ customer.Telefono.join(', ') }}</td>
                <td>{{ customer.Domicilio.Calle }}, {{ customer.Domicilio.NumeroExterior }}, {{ customer.Domicilio.Colonia }}, {{ customer.Domicilio.Ciudad }}</td>
                <td>
                    <div *ngFor="let ref of customer.ReferenciaFamiliar">
                        {{ ref.NombreFamiliar }} ({{ ref.Parentesco }})
                    </div>
                </td>
                <td>
                    <button pButton label="Editar" icon="pi pi-pencil" (click)="editarEmpleado(customer._id)"></button>
                    <button pButton icon="pi pi-pencil" (click)="editarEmpleado(customer.ClaveEmpleado)"></button>

                    <button pButton label="Eliminar" icon="pi pi-trash" (click)="eliminarEmpleado(customer._id)"></button>
                </td>
            </tr>
        </ng-template>
      
        <ng-template #emptymessage>
            <tr>
                <td colspan="8">No se encontraron empleados.</td>
            </tr>
        </ng-template>
    </p-table>
    