.main-container {
    margin-left: 270px;
    padding: 20px; 
    transition: margin-left 0.3s ease;
    margin-right: 60px;
   }
  .contenedor-botones {
    display: flex;            
    gap: 10px;               
    justify-content: flex-end;
  }
  
  .boton {
    margin: 0;               
  }

  .botonc {
    background-color: rgb(214, 43, 43); /* Rojo */
    border: 2px solid rgb(214, 43, 43); /* Contorno rojo */
    color: white; /* Color del texto */
    transition: all 0.3s ease; /* Transición suave al cambiar el estado */
  }
  
  .botonc:hover {
    background-color: rgb(255, 77, 77); /* Un rojo más claro al pasar el mouse */
    border-color: rgb(255, 77, 77); /* El contorno también cambia a un rojo más claro */
  }