.p-floatlabel{
    margin-bottom: 1.4em;
}
.p-autocomplete{
    margin-bottom: 1.4em;
}
.label-container {
    display: inline-block;
    width: 45%; /* Ajusta el ancho de los labels */
    margin-right: 10px; /* Espacio entre los campos */
}

  .main-container {
    margin-left: 270px;
    padding: 20px; 
    transition: margin-left 0.3s ease; /* Suaviza el desplazamiento si el menú es dinámico */
    margin-right: 60px;
   
  }

input,label, p-autocomplete, p-datepicker {
    width: 80%; 
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
    margin-left: 35px;
}
.contenedor-botones {
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
}
.custom-checkbox-container .p-checkbox.p-disabled .p-checkbox-box {
  background-color: aqua !important;  /* Color de fondo */
  opacity: 0.3 !important;  /* Opacidad */
  border: 2px solid red !important;  /* Borde */
}

.custom-checkbox-container .p-checkbox.p-disabled .p-checkbox-icon {
  background-color: yellow !important;
  opacity: 0.3 !important;
}

.custom-checkbox-container .p-checkbox.p-disabled .p-checkbox-label {
  color: rgba(115, 9, 9, 0.7) !important;
  font-weight: bold !important;
}
.boton-edicion {
  margin-right: 10px;
}




